[submodule "GameDepands/lua-protobuf"]
	path = GameDepands/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "GameDepands/Json.Net.Unity3D"]
	path = GameDepands/Json.Net.Unity3D
	url = https://github.com/SaladLab/Json.Net.Unity3D.git
[submodule "GameDepands/IronSnappy"]
	path = GameDepands/IronSnappy
	url = https://github.com/aloneguid/IronSnappy.git
